<div class="col-sm-4 col-sm-push-8">
  <form action="" class="formwrap mb10">
    <div class="box pad20">
      <h3 class="text-center">Add Your Vehicle</h3>
    </div>
    <div class="box pad20">
      <p>
        <strong class="font12">
          Car Name
          <input type="text" class="input-sm form-control">
        </strong>
      </p>
      <div class="mb10"> 
        <strong class="font12">Engine Displacement</strong>  
        <div class="input-group input-group-sm has-error">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-flash"></i>
          </span>
          <input type="text" class="form-control" placeholder="1.6 L" aria-describedby="basic-addon1">
        </div>
        <span class="text-danger font10">This field is required</span>
      </div>
      <div class="mb10"> 
        <strong class="font12">Engine Power</strong>  
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-cog"></i>
          </span>
          <input type="text" class="form-control" placeholder="1000 HP" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="mb10"> 
        <strong class="font12">Price</strong>  
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">
            &#8369;
          </span>
          <input type="number" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
      <div class="mb10"> 
        <strong class="font12">Location</strong>  
        <div class="input-group input-group-sm">
          <span class="input-group-addon" id="basic-addon1">
            <i class="glyphicon glyphicon-map-marker"></i>
          </span>
          <input type="text" class="form-control" aria-describedby="basic-addon1">
        </div>
      </div>
      <p class="text-center">
        <small>By submitting my vehicle info, I agree to the <a href="#" class="show">terms and condition</a></small>
      </p>
      <p> 
        <input type="submit" value="Submit" class="btn btn-block btn-warning ">
      </p>
    </div> 
  </form>
</div>
<div class="col-sm-8 col-sm-pull-4">
  <div class="carwrap mb10">
    <div class="carbox box pad20">
      <h3>TOYOTA COROLLA ALTIS 2011 AT</h3>
      <ul class="carmeta list-inline">
        <li><strong>&#8369;</strong> 448,000</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-flash"></i> 1.6 L</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-cog"></i> 1.6 HP</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-map-marker"></i> Pasig</li>
      </ul>
    </div>
    <div class="carbox box pad20">
      <h3>TOYOTA COROLLA ALTIS 2011 AT</h3>
      <ul class="carmeta list-inline">
        <li><strong>&#8369;</strong> 448,000</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-flash"></i> 1.6 L</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-cog"></i> 1.6 HP</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-map-marker"></i> Pasig</li>
      </ul>
    </div>
    <div class="carbox box pad20">
      <h3>TOYOTA COROLLA ALTIS 2011 AT</h3>
      <ul class="carmeta list-inline">
        <li><strong>&#8369;</strong> 448,000</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-flash"></i> 1.6 L</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-cog"></i> 1.6 HP</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-map-marker"></i> Pasig</li>
      </ul>
    </div>
    <div class="carbox box pad20">
      <h3>TOYOTA COROLLA ALTIS 2011 AT</h3>
      <ul class="carmeta list-inline">
        <li><strong>&#8369;</strong> 448,000</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-flash"></i> 1.6 L</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-cog"></i> 1.6 HP</li>
        <li class="meta-separator">&bull;</li>
        <li><i class="glyphicon glyphicon-map-marker"></i> Pasig</li>
      </ul>
    </div>
  </div>
</div>